<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/remote_control"
        android:label="@string/app_name"
        android:roundIcon="@drawable/remote_control"
        android:supportsRtl="true"
        android:theme="@style/Theme.RemoteControlClient">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.azazo1.remotecontrolclient.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <activity
            android:name=".activity.CommandingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConnectingActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>